$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content
  }
}

.topbar {
  width: 100%;
  height: 30px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  box-shadow: 0.0em 0.05em black;
  filter: drop-shadow(0.1em 0.1em 0.1em black);


  .menu {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    
    .options {
      
      text-align: center;
    }

    .out {
      flex: 0;
    }

    a {
      text-decoration: none;
      color: aliceblue;
    }
    
    /*li {


      a:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
      }

      @include mobile {
        display: none;
      }
    }*/

  }
}