.schedule {
    //Para que el calendario no se superponga con las pantallas que figuren encima
    position: relative;
    z-index: 0;
    height: 600;       
    border-radius: 100px;
    padding: 60px;
}